<div class="bg-transparent">
    <img 
    src="moonPhases-nobg.png" 
    class="object-cover transition-transform duration-300 origin-center mx-auto" 
    alt="Moon Phases" />
</div>

<div class="flex justify-center "> 
    <!-- Work on Property Binding -->
    <form  #form="ngForm" class="flex flex-col justify-center mt-12 gap-8">
            <div class="text-red-400 text-sm md:text-base mt-1" *ngIf="inputedCityRef.touched && inputedCityRef.invalid">
                <span *ngIf="inputedCityRef.errors?.['required']">🚩 City Is Required.</span>
            </div>
            <input 
            #inputedCityRef="ngModel"
            type="text" 
            name="selectedCity"
            [(ngModel)]="selectedCity"
            required
            placeholder="City"
            class="bg-gray-700 border-b-1 rounded border-gray-100 text-white placeholder-gray-500 py-2 px-3 text-sm lg:text-base 
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-300">
 
            <button 
            (click)="getCurrentMoonPhase(selectedCity)"
            class="bg-white text-blue-600 mt-6 py-2 px-6 rounded-full text-lg font-semibold shadow-md hover:bg-gray-100 transition-all duration-300 
            focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-opacity-50 relative cursor-pointer hover:opacity-90">
                 View 7-Day Forecas
                <i class="fa-solid fa-eye"></i>
            </button>
            
        </form>
</div>
<h1 class="text-5xl text-red-500 font-bold text-center">{{currentMoonPhase}}</h1>
<!-- (click)="getWeeklyWeather(inputedCity)" -->
<!-- <div class="flex justify-center "> 
    Work on Property Binding
    <form  #form="ngForm" class="flex flex-col justify-center mt-12 gap-8">
            <div class="text-red-400 text-sm md:text-base mt-1" *ngIf="inputedCityRef.touched && inputedCityRef.invalid">
                <span *ngIf="inputedCityRef.errors?.['required']">🚩 City Is Required.</span>
            </div>
            <input 
            #inputedCityRef="ngModel"
            type="text" 
            name="selectedCity"
            [(ngModel)]="selectedCity"
            required
            placeholder="City"
            class="bg-gray-700 border-b-1 rounded border-gray-100 text-white placeholder-gray-500 py-2 px-3 text-sm lg:text-base 
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-300">
 
            <button 
            class="bg-white text-blue-600 mt-6 py-2 px-6 rounded-full text-lg font-semibold shadow-md hover:bg-gray-100 transition-all duration-300 
            focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-opacity-50 relative cursor-pointer hover:opacity-90">
                 View 7-Day Forecas
                <i class="fa-solid fa-eye"></i>
            </button>
            
        </form>
</div> -->