<!--  -->
<div class="relative h-[90vh]">
    <img 
    src="https://spaceplace.nasa.gov/review/moon-phases/moon-phases.en.gif"
    class="absolute inset-0 w-full h-full object-cover z-0"
    alt="Background"
  />
</div>

<div class="px-4 py-8 bg-white text-black my-8 rounded-lg shadow-md">
    
    <div class="flex flex-col items-center gap-8">
      <h2 class="text-4xl font-bold">Moon Phases</h2>

      <div class="bg-transparent max-w-lg mx-auto my-8">
        <img
          src="moonPhases-nobg.png"
          class="object-cover transition-transform duration-300 origin-center w-full h-auto"
          alt="Moon Phases"
        />
        </div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-4">
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
          <img src="https://assets.science.nasa.gov/dynamicimage/assets/science/psd/lunar-science/internal_resources/366/new-moon.jpg?w=640&h=613&fit=clip&crop=faces%2Cfocalpoint" alt="New Moon" class="w-16 h-16 object-contain" />
          <p class="mt-2 text-sm font-semibold">New Moon</p>
        </div>
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
          <img src="https://assets.science.nasa.gov/dynamicimage/assets/science/psd/lunar-science/internal_resources/368/waxing-crescent.jpg?w=640&h=613&fit=clip&crop=faces%2Cfocalpoint" alt="Waxing Crescent" class="w-16 h-16 object-contain" />
          <p class="mt-2 text-sm font-semibold">Waxing Crescent</p>
        </div>
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
          <img src="https://assets.science.nasa.gov/dynamicimage/assets/science/psd/lunar-science/internal_resources/367/first-quarter.jpg?w=640&h=613&fit=clip&crop=faces%2Cfocalpoint" alt="First Quarter" class="w-16 h-16 object-contain" />
          <p class="mt-2 text-sm font-semibold">First Quarter</p>
        </div>
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
          <img src="https://assets.science.nasa.gov/dynamicimage/assets/science/psd/lunar-science/internal_resources/365/waxing-gibbous.jpg?w=640&h=613&fit=clip&crop=faces%2Cfocalpoint" alt="Waxing Gibbous" class="w-16 h-16 object-contain" />
          <p class="mt-2 text-sm font-semibold">Waxing Gibbous</p>
        </div>
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
          <img src="https://science.nasa.gov/wp-content/uploads/2023/08/full.jpg" alt="Full Moon" class="w-16 h-16 object-contain" />
          <p class="mt-2 text-sm font-semibold">Full Moon</p>
        </div>
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
            <img src="https://science.nasa.gov/wp-content/uploads/2023/08/waning-gibbous.jpg" alt="Third Quarter" class="w-16 h-16 object-contain" />
            <p class="mt-2 text-sm font-semibold">Waning Gibbous</p>
        </div>
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
            <img src="https://science.nasa.gov/wp-content/uploads/2023/08/third-quarter.jpg" alt="Waning Gibbous" class="w-16 h-16 object-contain" />
            <p class="mt-2 text-sm font-semibold">Third Quarter</p>
        </div>
        <div class="bg-white/80 p-4 rounded-lg shadow hover:shadow-lg transition cursor-pointer border-2 border-transparent flex flex-col items-center"
        (click)="targetMoonPhaseCard(0)"
        [ngClass]="targetedMoonPhase === 0 ? 'weatherCardActive' : isMoonPhaseSelected ? '' : ''">
          <img src="https://science.nasa.gov/wp-content/uploads/2023/08/waning-crescent.jpg" alt="Waning Crescent" class="w-16 h-16 object-contain" />
          <p class="mt-2 text-sm font-semibold">Waning Crescent</p>
        </div>
      </div>
    </div>
  </div>

<div class="flex justify-center p-8 "> 
    <form  #form="ngForm" class="flex flex-col justify-center mt-12 gap-8">
            <div class="text-red-400 text-sm md:text-base mt-1" *ngIf="inputedCityRef.touched && inputedCityRef.invalid">
                <span *ngIf="inputedCityRef.errors?.['required']">🚩 City Is Required.</span>
            </div>
            <input 
            #inputedCityRef="ngModel"
            type="text" 
            name="selectedCity"
            [(ngModel)]="selectedCity"
            required
            placeholder="City"
            class="bg-gray-700 border-b-1 rounded border-gray-100 text-white placeholder-gray-500 py-2 px-3 text-sm lg:text-base 
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-300">
 
            <button 
            (click)="getCurrentMoonPhase(selectedCity)"
            class="bg-white text-blue-600 mt-6 py-2 px-6 rounded-full text-lg font-semibold shadow-md hover:bg-gray-100 transition-all duration-300 
            focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-opacity-50 relative cursor-pointer hover:opacity-90">
                 View 7-Day Forecas
                <i class="fa-solid fa-eye"></i>
            </button>
        </form>
</div>

<!-- <h1 class="text-5xl text-red-500 font-bold text-center">{{currentMoonPhase}} {{selectedCity}}</h1> -->