<footer class="p-4 bg-gray-700 rounded-t-lg">
    <div class="flex items-center justify-between ">
        <div class="flex items-center cursor-pointer transition-all duration-300 ease-in-out hover:scale-110"
            routerLink="/">
            <img class="w-[50px] h-[50px]" src="moonImg.png" alt="moon" />
            <h4 class="text-white text-md font-extrabold tracking-wide  md:text-xl lg:text-2xl ">
                MoonChaser
            </h4>
        </div>
        <p class="text-sm lg:text-base text-gray-300 italic tracking-wide text-center px-4">
            <i class="fa-solid fa-cloud-bolt"></i> From rain to radiance — stay weather-aware.
        </p>
        <div class="flex gap-8">
            <a 
            href="https://github.com/KlasniMisho123"
            target="_blank"
            class="cursor-pointer border-b-2 border-gray-100 pb-1 inline-block text-sm lg:text-base 
            text-white hover:text-blue-400 hover:border-blue-400 hover:scale-105 transition-all duration-300">
                <i class="fa-brands fa-github text-lg"></i> KlasniMisho123
            </a>
            
            <a 
            href="https://www.weatherapi.com/"
            target="_blank"
            class="cursor-pointer border-b-2 border-gray-100 pb-1 inline-block text-sm lg:text-base 
            text-white hover:text-blue-400 hover:border-blue-400 hover:scale-105 transition-all duration-300">
                Integrated API
            </a>              
            <p class="cursor-pointer border-b-2 border-gray-100 pb-1 inline-block text-sm lg:text-base 
            text-white hover:text-blue-400 hover:border-blue-400 hover:scale-105 transition-all duration-300">
                Privacy Policy
            </p>
        </div>
    </div>
</footer>
