<footer class="p-2 bg-gray-800 rounded-t-lg">
    <div class="flex items-center justify-between px-4">
        <div class="flex items-center cursor-pointer transition-all duration-300 ease-in-out hover:scale-110"
            routerLink="/">
            <img class="w-[50px] h-[50px]" src="moonImg.png" alt="moon" />
            <h4 class="text-white text-md font-extrabold tracking-wide  md:text-xl lg:text-2xl ">
                MoonChaser
            </h4>
        </div>
        <div class="flex"> 
            TexT
        </div>
        <div class="flex gap-8">
            <p>Privacy</p>
            <p>Teams And Conditions</p>
        </div>
    </div>
</footer>
