<div  class="h-[40vh]">
    <div class="flex justify-center gap-4 mt-8 ">
        <div class="sm:text-base md:text-lg  cursor-pointer hover:text-blue-500 transition-all duration-100 hover:scale-85"
        (click)="setWeatherSection('Daily')"
        [ngClass]="currentWeatherSection==='Daily'? ' pb-1 border-b-1 border-blue-500 text-blue-400': 'text-white' "
        > Current
        </div>

        <div class="sm:text-base md:text-lg  cursor-pointer hover:text-blue-500 transition-all duration-100 hover:scale-85 "
        (click)="setWeatherSection('Weekly')"
        [ngClass]="currentWeatherSection==='Weekly'? ' pb-1 border-b-1 border-blue-500 text-blue-400': 'text-white' "
        > Weekly
        </div>
    </div>
    <div class="bg-red-400" *ngIf="currentWeatherSection==='Daily'">
        <app-daily-weather></app-daily-weather>
    </div>
    <div class="bg-red-400" *ngIf="currentWeatherSection==='Weekly'">
        <app-weekly-weather></app-weekly-weather>
    </div>
    
   
</div>