<div class="w-[85%] text-black mx-auto bg-white border-1 border-gray-700 block mt-12 rounded shadow-md p-2 md:p-8 lg:p-12">
    <h2 class="text-center text-4xl font-bold py-8 "> How It Works </h2>
    <p class="text-center py-4 pb-8 text-lg"> Recivie Information About current Weather and Be Prepared </p>
    <div class="flex justify-evenly my-12">
       <div class="flex flex-col items-center border-1 border-gray-400 p-4 py-6 rounded gap-8 transition-all transition-duration-300  hover:shadow-lg ">
           <i class="fa-solid fa-location-dot text-5xl text-red-500 py-4"></i>
           <p class="max-w-[225px] text-sm sm:text-base">Enter the city name to get weather information.</p>
        </div>
        <div class="flex flex-col items-center border-1 border-gray-400 p-4 py-6 rounded gap-8 transition-all transition-duration-300  hover:shadow-lg ">
           <i class="fa-solid fa-paper-plane text-5xl text-blue-500 py-4 "></i>
           <p class="max-w-[225px] text-sm sm:text-base" >Click "Get Current Weather" to send an API request.</p>
        </div>
        <div class="flex flex-col  items-center border-1 border-gray-400 p-4 py-6 rounded gap-8 transition-all transition-duration-300  hover:shadow-lg ">
           <i class="fa-solid fa-tornado text-5xl text-gray-500 py-4 "></i>
           <p class="max-w-[225px] text-sm sm:text-base ">Get detailed forecasts and weather stats, presented with clarity and style.</p>
        </div>
    </div>
</div>
<div class="flex justify-center "> 
   <!-- Work on Property Binding -->
   <form  #form="ngForm" class="flex flex-col justify-center mt-12 gap-8">
           <div class="text-red-400 text-sm md:text-base mt-1" *ngIf="inputedCityRef.touched && inputedCityRef.invalid">
               <span *ngIf="inputedCityRef.errors?.['required']">🚩 City Is Required.</span>
           </div>
           <input 
           #inputedCityRef="ngModel"
           type="text" 
           name="inputedCity"
           [(ngModel)]="inputedCity"
           required
           placeholder="City"
           class="bg-gray-700 border-b-1 rounded border-gray-100 text-white placeholder-gray-500 py-2 px-3 text-sm lg:text-base 
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-300">

           <button 
           (click)="getDailyWeather(inputedCity)"
           class="bg-white text-blue-600 mt-6 py-2 px-6 rounded-full text-lg font-semibold shadow-md hover:bg-gray-100 transition-all duration-300 
           focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-opacity-50 relative cursor-pointer hover:opacity-90">
               Get Current Weather
               <i class="fa-solid fa-eye"></i>
           </button>

           <div> CURRENT TEMP: {{currentTemC}}</div>

           
   </form>
</div>


<!-- <button 
    (click)="getWeeklyWeather(inputedCity)"
    class="bg-white text-blue-600 mt-6 py-2 px-6 rounded-full text-lg font-semibold shadow-md hover:bg-gray-100 transition-all duration-300 
    focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-opacity-50 relative cursor-pointer hover:opacity-90">
    Get Weekly Weather
    <i class="fa-solid fa-eye"></i>
</button> -->
