<section class="flex bg-gray-700 p-2 gap-[25%]">
    <div class="flex justify-center items-center cursor-pointer transition-all duration-300 ease-in-out hover:scale-110"
        routerLink="/">
        <img class="w-[50px] h-[50px]" src="moonImg.png" alt="moon" />
        <h4 class="text-white text-md font-extrabold tracking-wide  md:text-xl lg:text-2xl ">
            MoonChaser
        </h4>
    </div>
    <nav class="flex items-center gap-8">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house text-lg"></i></a>
        <a class="nav-link" routerLink="/weather" routerLinkActive="active">Weather</a>
        <a class="nav-link" routerLink="/moon" routerLinkActive="active">Moon</a>
        <a class="nav-link truncate" routerLink="/aboutus" routerLinkActive="active">About Us</a>
    </nav>  
</section>