<div class="w-[90%] h-[30vh] mx-auto bg-white block mt-12 "> How It Works </div>
<div class="flex justify-center "> 
    <form class="flex flex-col justify-center mt-12 gap-8">
        <input type="text" placeholder="City" class="bg-transparent border-b-1 rounded border-gray-100 text-white placeholder-gray-500 py-2 px-3 text-sm lg:text-base 
        focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-300">
        <button class="bg-white text-blue-600 py-2 px-6 rounded-full text-lg font-semibold shadow-md hover:bg-gray-100 transition-all duration-300 
        focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-opacity-50 relative cursor-pointer hover:opacity-90">
            Get Current Weather
            <i class="fa-solid fa-eye"></i>
        </button>
    </form>
</div>