<div class="">
    <div class="relative h-[90vh]">
            <img 
            [src]="!cardIndex 
            ? 'https://assets.science.nasa.gov/dynamicimage/assets/science/cds/svs/a000000/a004600/a004655/schrodinger.0210_print.jpg?w=1024&h=576&fit=crop&crop=faces%2Cfocalpoint' 
            : 'https://i.pinimg.com/736x/0b/0c/49/0b0c49d62a616599f1097088f3e3a0ad.jpg'" 
            class="absolute inset-0 w-full h-full object-cover z-0"
            [ngClass]="!isFirstLoad ? (cardIndex === 0 ? 'swipe-card-right' : 'swipe-card-left') : ''"
            alt="Background"
        />

        <div class="relative z-10 flex justify-evenly h-full ">
            <!-- Prev Card Btn -->
            <div class="flex items-center h-full "> 
                <div class="px-4 py-2 rounded previous-home-card-div"
                (click)="ToggleCardIndex()">
                    <i class="fa-solid fa-chevron-left previous-home-card "></i>
                </div>
            </div>
             <!-- Card -->
            <div class="flex flex-col m-[15%] min-w-[64%]"> 
                <h1 class="text-6xl font-bold  transition-all duration-300"
                [ngClass]="cardIndex === 0? 'drop-shadow-[0_0_10px_rgba(128,90,213,0.8)]' : 'drop-shadow-[0_0_10px_rgba(255,115,0,0.8)]'"
                >{{cardIndex === 0? 'Welcome to Moon Chaser': 'Stay Sky Aware With Us'}}</h1>
                
                <h2 class="text-lg font-bold">
                {{cardIndex === 0? 'Your guide to tracking the skies: current weather, forecasts, and the ever-changing phases of the moon, wherever you are.'
                : 'Forecast weather and monitor moon phases'}}
                </h2>
                <div class="flex gap-8 my-8">
                    <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-8 rounded-full 
                    focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 shadow-md text-lg cursor-pointer4"
                    [routerLink]="cardIndex===0? '/aboutus' : '/weather' ">
                    <div *ngIf="cardIndex === 0 || cardIndex === 3">About Us</div>

                    <div *ngIf="cardIndex === 1" >
                      <i class="fa-solid fa-sun text-yellow-500 "></i> Track the Skies
                    </div>
                    
                    </button>

                    <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-8 rounded-full 
                    focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 shadow-md text-lg cursor-pointer "
                    *ngIf="cardIndex"
                    routerLink="/moon">
                    <i class="fa-solid fa-moon text-indigo-700"></i> Lunar Insights
                    </button>
                </div>
            </div>
            <!-- Next Card Btn -->
            <div class="flex items-center h-full "> 
                <div class="px-4 py-2 rounded next-home-card-div"
                (click)="ToggleCardIndex()">
                    <i class="fa-solid fa-chevron-right next-home-card "></i>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-6 justify-center my-12 mx-6 lg:grid lg:grid-cols-3 lg:grid-rows-2 rounded">
        <div class="flex flex-col justify-center gap-2 p-4 py-18 services-card">
            <h3 class="text-lg text-gray-200 text-center lg:text-start ">Our Services</h3>
            <div class="flex flex-col items-center text-4xl font-bold lg:items-start">
                <div>What</div>
                <div>Can We</div>
                <div>Do?</div>
            </div>
        </div>

        <div class="flex flex-col bg-white text-black gap-8 p-4 rounded cursor-pointer
         transition-all transition-duration-300 transition-ease-in-out hover:scale-105"
         routerLink="/weather">
            <div class="">
                <img src="https://i.pinimg.com/736x/25/44/62/25446296a9e101763a410291dadb4005.jpg" class="h-[200px] w-full " alt="">
            </div>
            <div class="flex flex-col items-center font-bold lg:items-start">
                <h3 class="text-lg text-gray-600 text-center lg:text-start ">Track Current Weather</h3>
                <div class="flex justify-between  w-full">
                    <h3 class="text-2xl"> Current Weather</h3>
                    <h3 class="text-2xl"> <i class="fa-solid fa-right-long"></i> </h3>
                </div>
            </div>
        </div>

        <div class="flex flex-col bg-white text-black gap-8 p-4 rounded cursor-pointer
         transition-all transition-duration-300 transition-ease-in-out hover:scale-105"
         routerLink="/weather">
            <div class="">
                <img src="https://i.pinimg.com/736x/b4/fe/42/b4fe428c83502f66bbd2af43ae20b1dc.jpg" class="h-[200px] w-full " alt="">
            </div>
            <div class="flex flex-col items-center font-bold lg:items-start">
                <h3 class="text-lg text-gray-600 text-center lg:text-start ">Weekly Weather Forecast</h3>
                <div class="flex justify-between  w-full">
                    <h3 class="text-2xl"> Forecast the weather</h3>
                    <h3 class="text-2xl"> <i class="fa-solid fa-right-long"></i> </h3>
                </div>
            </div>
        </div>

        <div class="flex flex-col bg-white text-black gap-8 p-4 rounded cursor-pointer
         transition-all transition-duration-300 transition-ease-in-out hover:scale-105"
         routerLink="/moon">
            <div class="flex justify-center">
                <img src="https://i.pinimg.com/736x/ab/05/7f/ab057f53c79ae06b122e34641f607c91.jpg" class="h-[200px] w-full " alt="">
            </div>
            <div class="flex flex-col items-center font-bold lg:items-start">
                <h3 class="text-lg text-gray-600 text-center lg:text-start ">Monitor The Moon</h3>
                <div class="flex justify-between  w-full">
                    <h3 class="text-2xl"> Moon Phases </h3>
                    <h3 class="text-2xl"> <i class="fa-solid fa-right-long"></i> </h3>
                </div>
            </div>
        </div>
        <!-- ETC CARD? -->
        <div class="flex flex-col bg-white text-black gap-8 p-4 rounded cursor-pointer
         transition-all transition-duration-300 transition-ease-in-out hover:scale-105">
            ETC >>>
        </div>
    </div>
</div>