<div class="h-[60vh]">
    <!-- <img class="w-full object-cover " src="background.avif" alt="Background" /> -->
    <!-- <img class="h-[80%] w-full object-cover " src="https://images.unsplash.com/photo-1491466424936-e304919aada7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8MTkyMHgxMDgwJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww" alt="Background" /> -->
    <!-- <img class="object-cover " src="https://wallpapers.com/images/featured/1920x1080-aesthetic-glrfk0ntspz3tvxg.jpg" alt="Background" /> -->
    <img class="object-cover " src="https://wallpapers.com/images/featured/1920x1080-aesthetic-glrfk0ntspz3tvxg.jpg" alt="Background" />
</div>

