<!-- <div class="h-[60vh] "> -->
    <!-- <img class="w-full h-[80%] object-cover " src="background.avif" alt="Background" /> -->
    <!-- <img class="w-full h-[80%] object-cover " src="https://www.10wallpaper.com/wallpaper/1366x768/1406/switzerland_stars-scenery_HD_Wallpaper_1366x768.jpg" alt="Background" /> -->
    <!-- <img class="h-[80%] w-full object-cover " src="https://images.unsplash.com/photo-1491466424936-e304919aada7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8MTkyMHgxMDgwJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww" alt="Background" /> --> 
    <!-- <img class="w-full object-cover " src="https://i.pinimg.com/736x/5c/20/13/5c2013d886b93bb1d15491ee2da59edc.jpg" alt="Background" /> -->
    <!-- <img class="w-full object-cover " src="https://i.pinimg.com/736x/a8/32/02/a8320201bcb8fb40c8633d9d05120b8f.jpg" alt="Background" />
</div>  -->

<div class="h-[60vh] w-full bg-cover bg-center relative" 
     style="background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1406/switzerland_stars-scenery_HD_Wallpaper_1366x768.jpg');">
    
    <!-- Moon -->
    <img class="moonMovementAnimation absolute w-[200px] h-[200px] left-[10%] top-[20%]" 
         src="moonImg.png" alt="moon" />

    <!-- Sun -->
    <img class="sunMovementAnimation absolute w-[200px] h-[200px] right-[10%] top-[20%]" 
         src="sun1.png" alt="sun" />

</div>
