@import "tailwindcss";

body {
  background-color: #1a1a2e;
  color: white;
  transition: background-color 1s ease-in-out;

}

.night-mode {
  background-color: #1a1a2e;
  color: white;
  transition: background-color 1s ease-in-out;
}

.nav-link {
  cursor: pointer;
  transition: all 300ms ease-in-out; 
  color: white; 
}

.nav-link:hover {
  transform: scale(1.1); 
  color: #4F9D9C; 
}

.nav-link.active {
  font-weight: bold;
  color: #1E90FF;
  border-bottom: 2px solid #1E90FF;
}


.day-mode {
  background: linear-gradient(to bottom, #fefefe, #ffffff);
  color: white;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.moonMovementAnimation img {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.moonMovementAnimation img.toNight {
  transform: rotate(180deg);
  opacity: 1;
}

.moonMovementAnimation img.toDay {
  transform: rotate(0deg);
  opacity: 1;
}


.moonMovementAnimation {
    /* animation: moonAnimation 5s linear infinite; */
}

.sunMovementAnimation {
    animation: sunAnimation 15s linear infinite;
}

.previous-home-card-div:hover {
  background-color: black;
}

.previous-home-card {
  opacity: 0;
  transition: all 0.25s;
  cursor: pointer;
  display: hidden;
}

.previous-home-card-div:hover .previous-home-card {
  opacity: 1;
}

.previous-home-card-div {
  display: hidden;
  transition: all all 0.5s;
  cursor: pointer;
  display: hidden;
}

.previous-home-card-div:hover {
  background-color: black;
}

.next-home-card {
  opacity: 0;
  transition: all all 0.5s;
  cursor: pointer;
  display: hidden;
}

.next-home-card-div:hover .next-home-card {
  opacity: 1;
}
/*  */
.next-home-card-div {
  display: hidden;
  transition: all 0.5s;
  cursor: pointer;
  display: hidden;
}

.next-home-card-div:hover {
  background-color: rgb(203, 198, 198);
}

.swipe-card-right {
  animation: swipeRightAnimation 0.5s forwards;
}

.swipe-card-right {
  animation: swipeRightAnimation 0.5s forwards;
}

.swipe-card-left {
  animation: swipeLeftAnimation 0.5s forwards;
}


.services-card {
  background-image: url(https://media.istockphoto.com/id/1217882746/photo/diverse-team-of-electronics-development-engineers-standing-at-the-desk-working-with-documents.jpg?s=612x612&w=0&k=20&c=EvA0Gt_LKlGTHljVYZ6ha7QjDLY02_aUPJo_GcldWLc=);
  object-fit: cover;
}

.aboutus-card:hover .aboutus-arrow {
  color: rgb(36, 36, 113);
}

.aboutus-arrow {
  transition: all;
  transition: duration 3s;
}

.services-item-card-one:hover  {
  color: rgb(44, 44, 168);
}
.services-item-arrow-one {
  transition: all;
  transition: transform 0.25s ease-in-out;
}
.services-item-card-one:hover .services-item-arrow-one {
  transform: translateX(10px);
}
.services-item-card-two:hover  {
  color: rgb(44, 44, 168);
}
.services-item-arrow-two {
  transition: all;
  transition: transform 0.25s ease-in-out;
}
.services-item-card-two:hover .services-item-arrow-two {
  transform: translateX(10px);
}
.services-item-card-three:hover  {
  color: rgb(44, 44, 168);
}
.services-item-arrow-three {
  transition: all;
  transition: transform 0.25s ease-in-out;
}
.services-item-card-three:hover .services-item-arrow-three {
  transform: translateX(10px);
}

.weatherCardActive {
  background-color: #bfdbfe;
  border: 2px solid #60a5fa;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.moonPhaseCardActive {
  background-color: #e0e7ff; 
  border: 1px solid #c3dafe; 
  background-image: radial-gradient(circle at top left, #f0f4ff 0%, #e0e7ff 100%);
  box-shadow: 0 4px 8px rgba(99, 102, 241, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
  color: #3730a3; 
  border-radius: 10px;
}

.goal-list > i {
  transition: color 0.1s ease-in-out;
}

.goal-list:hover > i {
  color: red;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutromRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.moonInfoIntro{
  animation: slideInFromRight 0.4s ease-out forwards;
}
.moonInfoOutro{
  /* animation: slideInFromRight 0.4s ease-out forwards; */
  animation: slideOutromRight 0.4s ease-out forwards;
}


@keyframes swipeRightAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swipeLeftAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotateToNight {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes rotateToDay {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  .toNight {
    animation: rotateToNight 3s forwards;
  }
  
  .toDay {
    animation: rotateToDay 3s forwards;
  }
  

@keyframes moonAnimation {
    0% { 
        transform: translateY(-100vh); 
    }
    50% { 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(100vh);
    }
}


@keyframes sunAnimation {
    0% { 
        transform: translateY(-100vh); 
    }
    50% { 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(100vh);
    }
}

