@import "tailwindcss";

.moonMovementAnimation {
    animation: moonAnimation 5s linear infinite;
}

.sunMovementAnimation {
    animation: sunAnimation 15s linear infinite;
}

@keyframes moonAnimation {
    0% { 
        /* transform: translateY(100vh); */
        transform: translatex(0vh);
    }
    50% { 
        /* transform: translateY(0); */
        transform: translatex(-100vh);
    }
    100% { 
        /* transform: translateY(-100vh); */
        transform: translateY(100vh);
    }
}

@keyframes sunAnimation {
    0% { 
        transform: translateY(-100vh); 
    }
    50% { 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(100vh);
    }
}

